# Dependencies
node_modules/
package-lock.json

# Environment
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage

# Editor folders
.idea
.vscode
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db